@import "src/styles/index";

.tag {
  align-items: center;
  border-radius: $border-radius-m;
  box-sizing: border-box;
  display: flex;
  gap: $spacing-xs;
  height: 4rem;
  padding: $spacing-3xs $spacing-s;

  &--contribution {
    background-color: $color-azure-500;
    color: $color-black;
  }

  &--correct-answer {
    background-color: $color-green-50;
    color: $color-green-700;
  }

  &--correct-answer-amount {
    background-color: $color-green-100;
    padding: $spacing-4xs $spacing-xs;
    width: 160px;
  }

  &--expert-badge {
    background-color: $color-azure-500;
    padding: $spacing-4xs $spacing-xs;
  }

  &--knowledge-sharing-badge {
    background-color: $color-violet-500;
    padding: $spacing-4xs $spacing-xs;
  }
}
