$color-black: #000;
$color-white: #fff;
$color-gray-10: #f6f6f5;
$color-gray-20: #efefee;
$color-gray-60: #d0d0ce;
$color-gray-70: #a9aaad;
$color-gray-80: #97999b;
$color-gray-700: #53565a;
$color-gray-900: #15181b;
$color-midnight-900: #000048;
$color-teal-10: #e6f9fa;
$color-teal-700: #06c7cc;
$color-plum-50: #e8e9f5;
$color-plum-100: #c5c8e8;
$color-plum-300: #7a82c7;
$color-plum-500: #444bb0;
$color-plum-800: #2e308e;
$color-plum-900: #211d79;
$color-blue-50: #e4f2fb;
$color-blue-100: #bddef7;
$color-blue-300: #6fb5eb;
$color-blue-500: #3d96e4;
$color-blue-700: #2f78c4;
$color-blue-900: #1e4993;
$color-red-50: #f8e9ea;
$color-red-100: #ffcdd2;
$color-red-700: #d32f2f;
$color-red-900: #b81f2d;
// $color-orange-50: #fff4e9;
// $color-orange-100: #ffddbe;
// $color-orange-700: #ff8f27;
$color-yellow-50: #fdf9e8;
$color-yellow-100: #f9eebb;
$color-yellow-800: #e9c71d;
$color-green-50: #eaf8e9;
$color-green-100: #e5f3ed;
$color-green-100-2: #c0eabc;
$color-green-700: #2db81f;
$color-green-800: #008850;
$color-magenta-50: #f9e3f2;
$color-magenta-500: #cc06ac;

// main colors
$color-violet-300: #d9d0e4;
$color-violet-500: #be89ff;
$color-violet-700: #7f58af;
$color-violet-900: #5b3f7e;

$color-azure-300: #d3eaf3;
$color-azure-500: #ade8ff;
$color-azure-700: #64c5eb;

$color-pink-300: #f3cddb;
$color-pink-700: #e84d8a;

$color-orange-300: #f8e6c3;
$color-orange-700: #feb326;

$gradient-01: linear-gradient(
  85.92deg,
  #010061 11.73%,
  #d43635 72.24%,
  #f3c9ce 114.61%
);
$gradient-02: linear-gradient(
  85.67deg,
  #2d2d99 8.05%,
  #2f78c4 50.92%,
  #24efe9 93.45%
);
