@font-face {
  font-display: swap;
  font-family: "Gellix Regular";
  src: url("../fonts/Gellix/Gellix-Regular_R.ttf") format("truetype");
}

@font-face {
  font-display: swap;
  font-family: "SF Mono Regular";
  src: url("../fonts/SFMono/SF-Mono-Regular.ttf") format("truetype");
}
